body {
  position: relative;
  background-color: grey;
  margin: 1%;
}
.full-screen {
	max-height: 100vh;
	overflow: overlay;
}
.title-page{
	padding-top: 50%;
	padding-bottom: 25%;
	text-align: center;
	background-image: url(basscover1.jpg);
	background-size: cover;
}
#title {
	color: rgba(248, 249, 250, .7);
	font-size: 45pt;
}
.center-title {
	text-align: center;
}
.biography {
	background-color: white;
	padding: 2em;
	overflow: overlay;
}
.upcoming {
	padding: 2em;
}
.headshot{
	float: left;
	margin-right: .5rem;
}
.event {
	height: 300px;
	padding: 10px;
}
.single-event {
	margin: 5px;
	border: 1px solid white;
	height: 100%;

}
.event-link {
	width: 50%;
	height: 50%;
	margin: auto;
	background-image: url(bassclef.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/*border: 1px solid red;*/
}