body {
  position: relative;
  background-color: grey;
  margin: 1%;
}
.full-screen {
	max-height: 100vh;
	overflow: overlay;
	padding: .5rem;
	padding-top: 3.5rem;

}
.title-page{
	padding-top: 50%;
	padding-bottom: 25%;
	text-align: center;
	background-image: url(basscover1.jpg);
	background-size: cover;
}
#title {
	color: rgba(248, 249, 250, .7);
	font-size: 45pt;
}
.center-title {
	text-align: center;
}
.biography {
	background-color: white;
	overflow: overlay;
}
.upcoming {
	
}
.headshot{
	float: left;
	margin-right: .5rem;
}
.event {
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}
.single-event {
	margin: 5px;
	border: 1px solid black;
	height: 100%;
	box-shadow: 2px 2px #6f6f6f;

}
.single-event a {
	color: black;
}
.event-link {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 1rem;
}
.hidden {
	display: none;
}
.button {
	margin: 1rem auto;
	display: block;
	margin-bottom: .5rem;
}