body {
  position: relative;
  background-color: grey;
}
.full-screen {
	height: 100vh;
}
.name{
	display: block;
	margin: auto;
	height: 100%;
	padding-top: 35%;
	text-align: center;
}
.center-title {
	text-align: center;
}
header {
	background-image: url(basscover1.jpg);
	display: block;
	background-repeat: no-repeat;
}